<h1>New Property</h1>

<%= form_for :properties, url: properties_path do |f| %>
  <p>
    <%= f.label "Address" %><br>
    <%= f.text_field :street_address%>
  </p>
 
  <p>
    <%= f.label "zip" %><br>
    <%= f.number_field :zip %>
  </p>
 
 	<div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>
 
  <p>
    <%= f.submit %>
  </p>
  <%= link_to 'Back', properties_path %>
<% end %>