
<% if user_signed_in? %>
	<%= link_to 'Add A Property', new_property_path %><br/>
	<% current_user.properties.each do |property| %>
	  <div style="border: solid">
	  <%= property.street_address %><br/>
	  <%= property.zip %><br/>
	  <% if property.image.exists? %>
	  	<%= image_tag property.image.url(:medium) %>
	  	<%= link_to 'Edit', edit_property_path(property) %>
	  <% end %>
	 	<br/>
	 	<br/>
		</div>	
	<% end %>
<% else %>
	<p>Please Sign In</p>
<% end %>
