



<div class="report_line row">  
	<h3 class="report_heading col-md-6">Apartment Number or Name:</h3>
	<h3 class="report_item col-md-6"><%= @unit.name %></h3>
	</div><!--report_line-->
 
<div class="report_line row">  
	<h3 class="report_heading col-md-6">Unit Location</h3>
	<h3 class="report_item col-md-6"><%= @unit.property.street_address %></h3>
	</div><!--report_line--> 
 
<div class="report_line row">  
	<h3 class="report_heading col-md-6">Primary Contact</h3>
	<h3 class="report_item col-md-6"><%= @unit.tenant0_first_name %><%= @unit.tenant0_last_name %></h3>
	<h3 class="report_item col-md-6"><%= @unit.tenant0_phone %></h3>
	<h3 class="report_item col-md-6"><%= @unit.tenant0_email %></h3>
	</div><!--report_line-->  

