<!DOCTYPE html>
<html>
<head>
  <title>RentStatus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= render 'layouts/header'%>
	<div id="breadcrumb_container" class="col-md-12">
		some breadcrumbs
	</div>	
	<div class="col-md-12 center">
	<%= yield %>
	</div>
</body>
</html>
